$backgraund-color-main: #141b1c;
$backgraund-color-line: #2a3438;
$backgraund-color-table: #334247;
$cuption-color-white: #ffffff;
$green-color: #5bb189;
$blue-color: #3a6ba5;
$orange-color: #ec632a;
